.App {
  background-color: #fafafa;
}
.app_image {
  object-fit: contain;
}
.App_header {
  padding: 10px;
  background-color: lightgrey;
  border-bottom: 2px solid lightgrey;
  display: flex;
  justify-content: space-between;
}
.input_parameters {
  display: flex;
  flex-direction: column;
}
.mycls {
  display: flex;
}
